<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/stylesheets/style.css" />
        <title>Music App</title>
    </head>

    <body>
        <h1>Welcome to the Music App!</h1>
        <p>An app for collecting your favorite Music.</p>

        <a class="music-index-link" href="/music">
            <div class="music-index-text">Browse Playlist</div>
        </a>

        <img class="music-pic1" src="/assets/reshot-illustration-dj-playing-music-8BEQHD75F3.png" alt="happy music note" />

        
    </body>


    
</html>
