<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Music App</title>
    </head>

    <body>
        <h1>Welcome to the Music App!</h1>
        <p>An app for collecting your favorite Music.</p>
    </body>
    
</html>
